@media screen and (max-width:576px) {
            .btn1 {
                display: grid;
                grid-template-rows: repeat(1, 1fr);
                gap: 10px;
                margin-left: 32px;

            }

            .allJob {
                width: 359px;
                margin-left: 45px;
            }

            .count {
                margin-right: 40px;
            }

            .AllBtn {
                display: flex;
                justify-content: center;
                margin-left: -150px;
            }

            .card1 {
                width: 359px;
                height: 380px;
                margin: 5px;
                display: flex;
                flex-direction: column;
                line-height: 20px;
                border: 2px solid black;
                margin-left: 32px;
            }
            .card2{
                width: 359px;
                height: 380px;
                margin: 5px;
                 line-height: 20px;
                  border: 2px solid black;
                margin-left: 32px;
                
            }

            .deleteBtn {
                width: 100px;
                height: 36px;

                background-color: red;
                margin-top: 4px;
                border-radius: 2px;
            }
            .img1{
                width: 50px;
                height: 50px;
            }



        }